<div class="header">
  <nav class="navbar navbar-dark bg-dark">


    <div class="container-fluid">
      <!-- Logo Game Again -->
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="img/imgLogo - Modificata.png" alt="Logo Game Again" class="logo" />
      </a>
      <!-- Tasto di ricerca -->
      <form class="d-flex" role="search" (ngSubmit)="search(desktopSearch.value)">
        <input #desktopSearch class="form-control me-2" type="search" placeholder="Cerca" aria-label="Cerca prodotti" required/>
        <button class="btn btn-success" type="submit">Cerca</button>
      </form>
      
    </div>

    <div class="container-fluid category-navigation">

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        Categorie
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="category-shortcuts" aria-label="Categorie principali">
        <a class="category-button" routerLink="/playstation" routerLinkActive="active">Playstation</a>
        <a class="category-button" routerLink="/nintendo" routerLinkActive="active">Nintendo</a>
        <!-- <a class="category-button" routerLink="/carte-collezionabili" routerLinkActive="active">Carte collezionabili</a> -->
        <a class="category-button" routerLink="/miniature-oggettistica" routerLinkActive="active">Oggettistica/Action figure</a>
      </div>

      <div class="offcanvas offcanvas-top text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        
        <div class="offcanvas-header">
           <img src="img/imgLogo - Modificata.png" alt="Logo Game Again" class="logo" />
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">

          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-bs-dismiss="offcanvas">Home</a>
            </li>

            <!-- Dropdown Playstation -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Playstation
              </a>

              <ul class="dropdown-menu dropdown-menu-dark">

                <li><a class="dropdown-item" routerLink="/playstation/ps1" routerLinkActive="active" data-bs-dismiss="offcanvas">Playstation 1</a></li>
                <li><a class="dropdown-item" routerLink="/playstation/ps2" routerLinkActive="active" data-bs-dismiss="offcanvas">Playstation 2</a></li>
                <li><a class="dropdown-item" routerLink="/playstation/ps3" routerLinkActive="active" data-bs-dismiss="offcanvas">Playstation 3</a></li>
                <li><a class="dropdown-item" routerLink="/playstation/ps4" routerLinkActive="active" data-bs-dismiss="offcanvas">Playstation 4</a></li>
                
              </ul>

            </li>

            <!-- Dropdown Nintendo -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nintendo
              </a>

              <ul class="dropdown-menu dropdown-menu-dark">

                <li><a class="dropdown-item" routerLink="/nintendo/gameboy" routerLinkActive="active" data-bs-dismiss="offcanvas">GameBoy</a></li>
                <li><a class="dropdown-item" routerLink="/nintendo/gameboy-advance" routerLinkActive="active" data-bs-dismiss="offcanvas">GameBoy Advance</a></li>
                <li><a class="dropdown-item" routerLink="/nintendo/ds-3ds" routerLinkActive="active" data-bs-dismiss="offcanvas">Nintendo DS/3DS</a></li>
                <li><a class="dropdown-item" routerLink="/nintendo/switch" routerLinkActive="active" data-bs-dismiss="offcanvas">Nintendo Switch</a></li>

              </ul>
              
            </li>

            <!-- Dropdown Carte collezionabili -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Carte collezionabili
              </a>

              <ul class="dropdown-menu dropdown-menu-dark">

                <li><a class="dropdown-item" routerLink="/carte-collezionabili/pokemon" routerLinkActive="active" data-bs-dismiss="offcanvas">Pokemon</a></li>
                <li><a class="dropdown-item" routerLink="/carte-collezionabili/varie" routerLinkActive="active" data-bs-dismiss="offcanvas">Varie</a></li>

              </ul>
              
            </li> -->

            <!-- Pulsante diretto Miniature/Oggettistica da collezione -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/miniature-oggettistica" routerLinkActive="active" data-bs-dismiss="offcanvas">
                Miniature/Oggettistica da collezione
              </a>
            </li>
          </ul>

          <form class="d-flex mt-3" role="search" (ngSubmit)="search(mobileSearch.value)">
            <input #mobileSearch class="form-control me-2" type="search" placeholder="Cerca" aria-label="Cerca prodotti" required>
            <button class="btn btn-success" type="submit" data-bs-dismiss="offcanvas">Cerca</button>
          </form>

        </div>
      </div>
    </div>
  </nav>
  
</div>
<!-- <hr style="border: 1px solid #212429; margin: 0;"> -->
