<hr style="border: 1px solid #212429; margin: 0;">
<div class="footer">
    <div class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Logo Game Again -->
            <img src="img/imgLogo - Modificata.png" alt="Logo Game Again" class="logo" />
        
        </div>

        <div class="col-4">
                <a class="social-link" href="https://www.instagram.com/gameagain_/" target="_blank" rel="noopener noreferrer">
                <h5>Contatti</h5>
            </a>
        </div>

        <div class="col-4">
            <a class="social-link" href="https://www.instagram.com/gameagain_/" target="_blank" rel="noopener noreferrer">
                <h5>Seguici su</h5>
            </a>
        </div>

        <div class="col-4">
            <a class="social-link" href="https://www.instagram.com/gameagain_/" target="_blank" rel="noopener noreferrer">
                <h5>Chi siamo</h5>
            </a>
        </div>

        <div class="row copyright-row">
            <span>
                © 2026 Game Again. Tutti i diritti riservati.
            </span>
        </div>
    </div>

</div>
